@font-face {
  font-family: Beni;
  src: url("fontes/BENI.ttf");
}
@font-face {
  font-family: Taile;
  src: url("fontes/taile.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
}
.form-image img {
  width: 650px;
  height: 100vh;
}
.form-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 50%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form h1 {
  font-size: 30px;
  color: #117f7e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form-logo img {
  width: 300px;
  height: 200px;
  justify-content: center;
  padding-bottom: 60px;
}
.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.button button {
  border: none;
  background-color: #117f7e;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  padding: 0.4rem 1rem;
}
.button button:hover {
  opacity: 90%;
}
.button a {
  text-decoration: none;
  color: white;
}
.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #f79e0c;
  margin: 0 auto;
  position: absolute;
}
.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #117f7e;
}
.input-box input {
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  border-radius: 30px;
  padding: 10px;
}

@media screen and (max-widht: 1330px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (min-width: 360px) and (max-width: 932px)  {
  body{

height: 100vh;
  }


  .form-image img {
    display: none;
  }
  .form-logo img{
    width: 220px;
    height: 150px;
    padding-bottom: 30px;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
}


/* tablet */

@media screen and (max-width:768px)  {
  body{

height: 100vh;
  }


  .form-image img {
    display: none;
  }
  .form-logo img{
    width: 220px;
    height: 150px;
    padding-bottom: 30px;
  }
  .container {
    justify-content: center;
    align-items: center;
  }
}